<div class="{{ class }}" *ngIf="!isMultiSelect">
    <mat-form-field [appearance]="appearance">
        <mat-label>{{ label }}</mat-label>
        <mat-select #select [compareWith]="compareFn" [formControl]="control" name="name"
            (selectionChange)="selectionChange($event.value)" typeaheadDebounceInterval="600" [panelClass]="panelClass">
            <!-- <mat-select-filter *ngIf="showFilter" [placeholder]="'Search with keyword'" [displayMember]="'label'" [array]="optionArr" (filteredReturn)="matFilter($event)"></mat-select-filter> -->
            <mat-option *ngIf="control.value?.value" value="">{{
                showEmptyOption ? emptyOption : label
                }}</mat-option>
            <ng-container *ngIf="groupArray?.length">
                <mat-optgroup *ngFor="let group of groupArray" [label]="group.label" [disabled]="group.disabled">
                    <mat-option *ngFor="let option of group.subList" [value]="option" [ngClass]="option.className">
                        {{ option.label }}</mat-option>
                </mat-optgroup>
            </ng-container>
            <ng-container *ngIf="!groupArray?.length">
                <ng-container *ngIf="showFilter">
                    <mat-option *ngFor="let option of optionArr" [disabled]="option?.disabled" [value]="option"
                        [ngClass]="option?.className">
                        {{ option.label }}
                    </mat-option>
                </ng-container>
                <ng-container *ngIf="!showFilter">
                    <mat-option *ngFor="let option of optionArr" [disabled]="option.disabled" [value]="option"
                        [ngClass]="option.className">
                        {{ option.label }}
                    </mat-option>
                </ng-container>
            </ng-container>
        </mat-select>
        <mat-error>{{ getFieldErrorDesc() }}</mat-error>
        <mat-hint *ngIf="showHint" [innerHTML]="hintContent"></mat-hint>
    </mat-form-field>
</div>

<div class="{{ class }}" *ngIf="isMultiSelect">
    <mat-form-field [appearance]="appearance">
        <mat-label>{{ label }}</mat-label>
        <mat-select #select [compareWith]="compareFn" multiple [formControl]="control" name="name"
            (selectionChange)="selectionChange($event.value)" typeaheadDebounceInterval="600" [panelClass]="panelClass">
            <mat-select-trigger>
                <span *ngIf="control?.value?.length">{{
                    control?.value && control?.value?.length ? control?.value[0]?.label : ""
                    }}</span>
                <span *ngIf="control?.value?.length > 1">{{
                    control?.value && control?.value?.length
                    ? ",
                    " + control?.value[1]?.label
                    : ""
                    }}</span>
                <span *ngIf="control?.value?.length > 2" class="example-additional-selection">
                    and (+{{ control?.value?.length - 2 }}
                    {{ control.value?.length === 2 ? "other" : "others" }})
                </span>
            </mat-select-trigger>
            <ng-container *ngIf="groupArray?.length">
                <mat-optgroup *ngFor="let group of groupArray" [label]="group.label" [disabled]="group.disabled">
                    <mat-option *ngFor="let option of group.subList" [value]="option" [ngClass]="option.className">
                        {{ option.label }}</mat-option>
                </mat-optgroup>
            </ng-container>
            <ng-container *ngIf="!groupArray?.length">
                <tp-select-check-all *ngIf="isSelectAll" [text]="selectAlltext" [model]="control" [values]="optionArr">
                </tp-select-check-all>
                <mat-option *ngFor="let option of optionArr" [value]="option" [disabled]="option.isDisabled"
                    [ngClass]="option.className">
                    {{ option.label }}
                </mat-option>
            </ng-container>
        </mat-select>
        <mat-error>{{ getFieldErrorDesc() }}</mat-error>
        <mat-hint *ngIf="showHint" [innerHTML]="hintContent"></mat-hint>
    </mat-form-field>
</div>