<div class="{{class}}">
    <mat-form-field appearance="fill">
      <mat-label>{{label}}</mat-label>
      <input type="text" class="input" matInput (input)="onItemSearch($event)"
        [matAutocomplete]="areaAutoComplete" [formControl]="control" tpRestirctCharacter>
  
      <mat-autocomplete autoActiveFirstOption #areaAutoComplete="matAutocomplete" [displayWith]="defaultDisplayFn"
        (optionSelected)="writeValue($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{option.label}}
        </mat-option>
      </mat-autocomplete>
      <mat-error>{{getFieldErrorDesc()}}</mat-error>
    </mat-form-field>
  </div>