<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header style="text-align: -webkit-center; justify-content: center;">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>A K Organization</mat-card-title>
            <mat-card-subtitle>Manage your goods</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="login">
                    <mat-form-field class="example-full-width">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="">
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="">
                    </mat-form-field>
                    <div style="height: 86px;"></div>
                    <button mat-flat-button class="example-full-width">Login</button>
                </mat-tab>

                <mat-tab label="Sign Up">
                    <mat-form-field class="example-full-width">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="">
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="">
                    </mat-form-field>
                    <button mat-flat-button class="example-full-width">Register</button>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>