<h2 mat-dialog-title class="theme-label" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{dialogData.title}}</h2>
<mat-dialog-content>
    <p [innerHTML]="dialogData.message"></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [color]="dialogData.btnPositiveColor"
        (click)="onPositiveClick()">{{dialogData.btnPositive}}</button>
    <button mat-button [color]="dialogData.btnNegativeColor"
        (click)="onNegativeClick()">{{dialogData.btnNegative}}</button>
</mat-dialog-actions>