mat-form-field {
    width: 100%;
  
    textarea {
      resize: none;
    }
  
  }
  
  .btn-clear,
  .btn-password-toggle {
    cursor     : pointer;
    font-size  : 100%;
    user-select: none;
    height     : auto;
    width      : auto;
  }
  
  .error {
    color: red;
  }
  